@import 'utilities';
//extra small devices

@media screen and (max-width: 575px) {
    //section header
    .section{
        &-header{
            padding:0;
            width:100% ;
            margin: 2rem 0 ;
            text-align: center;
        }
        &-heading{
            color: var(--dark-color);
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            position: relative;
            &::before{
                position: absolute;
                display: inline-block;
                content: '';
                width: 12%;
                height: 2px;
                bottom: 0;
                left: 35%;
                background-color: var(--secondary-color);
            }
            &::after{
                position: absolute;
                display: inline-block;
                content: '';
                width: 12%;
                height: 2px;
                bottom: 0;
                right: 35%;
                background-color: var(--secondary-color);
            }
        }
        &-para{
            color: var(--medium-color);
        }
    }

    header{
        .header{
            &-content{
                padding: 0;
                grid-template-columns: auto;
                justify-content: center;
                text-align: center;
            }
            &-right-content{
                padding: 1rem;
                li{
                    margin-left: 1rem;
                    margin-right: 3rem;
                    .header-text{
                        .header-icons{
                            left: -43%;
                        }
                    }
                }
            }
        }
    }
    nav{
        .div-hamburgur{
            background-color: var(--main-color);
            .hamburgur{
                display: block;
                text-align: right;
                background-color: var(--main-color);
                color: var(--white-color);
                margin-right: 2rem;
                margin-top: .2rem;
                font-size: 2rem;
            }
        }
        .main-nav{
            overflow: hidden;
            background-color: var(--main-color);
            position: relative;
            #myLinks{
                display: none;
                text-align: left;
                li{
                   &:last-child{
                       margin-right: 2rem;
                   }
                }
            }
        }
    }
    .section{
        //section-about
        &-about{
            padding: 2rem 0 4rem 0;
            .about-flex{
                grid-template-columns: auto;
                .what-we-do{
                    width: 100%;
                    padding-right: 0;
                    margin: 1rem 0;
                    .do-heading{
                        font-size: 2rem;
                        color: var(--dark-color);
                        padding: 1rem 0;
                    }
                    .do-desc{
                        color: var(--medium-color);
                        font-size: .95rem;
                    }
                    .about-btn{
                        display: inline-block;
                        background-color: var(--main-color);
                        color: var(--white-color);
                    }
                }
                .about-items{
                    width: 100%;
                    grid-template-columns: auto;
                }
            }
        }

        //section skills
        &-skills{
            padding: 2rem 0;
            .skills{
                &-items{
                    grid-template-columns: auto;
                    grid-gap: 1rem;
                    .skills{
                        &-accordian{
                            margin: 2rem 0;
                        }
                    }
                }
            }

        }

        //section-activity
        &-activity{
            grid-template-columns: auto;
            grid-gap: 0;
        }

        //secction service
        &-service{
            padding: 3rem 0;
            .service-cards{
                grid-template-columns: auto;
            }
        }
        //section video
        &-video{
            margin: 2rem 0;
        }
    
        //sectionn work
        &-work{
            .work-nav{
                grid-template-columns: repeat(2, auto);
                justify-content: space-around;
                li{
                    margin-right: 0;
                }
            }
            .work-images{
                grid-template-columns: auto;
                grid-gap: 1rem;
                .work-image{
                    position: relative;
                    height: auto;
                    margin-bottom: 2rem;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .work-caption{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 1;
                        text-align: center;
                        transform: translate(-50%, -50%);
                        color: var(--white-color);
                    }
                }
            }
        }

        //section team
        &-team{
            padding: 2rem 0;
            .team-cards{
                grid-template-columns: auto;
                grid-gap: 1rem;
                align-items: center;
                .team-card{
                    margin-bottom: 1rem;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        //section pricing
        &-pricing{
            padding: 2rem 0;
            .pricing-cards{
                grid-template-columns: auto;
                .pricing-card{
                    margin-bottom: 1rem;
                    width: 100%;
                }
            }
        }

        //section news
        &-news{
            padding: 2rem 0;
            .news-cards{
                grid-template-columns: auto;
            }
        }

        //section logo
        &-logos{
            .logos-items{
                grid-template-columns: auto;
                .logo-item{
                    height: 120px;
                    margin:0 0 1rem 0;
                    img{
                        margin: auto;
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }

        //section sign up
        &-signup{
            background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../image/contactbanner.jpg') no-repeat right center / cover;
            min-height: 300px;
            .signup-flex{
                grid-template-columns: auto;
                .signup{
                    text-align: center;
                    width: 100%;
                    &-text{
                        text-align: center;
                        padding:2rem 1rem;
                        &-heading{
                            padding-bottom: 1rem;
                        }
                    }
                    &-mail{
                        text-align: center;
                        margin-top: 10%;
                        input[type=email]{
                            width: 80%;
                        }
                        button{
                            width: 8%;
                        }
                    }
                }
            }
        }
        //section touch
        &-touch{
            .touch-form{
                width: 100%;
                margin: 1rem 0;
                .section{
                    &-1-form{
                        grid-template-columns: auto;
                        justify-items: center;
                        input[type=text], input[type=email]{
                            width: 100%;
                            padding: 1rem;
                            margin-bottom: 1rem;
                            border: 1px solid var(--dark-color);
                        }
                    }
                    &-2-form{
                        textarea{
                            width: 100%;
                            padding-left: 1rem;
                            border: 1px solid var(--dark-color);
                        }
                    }
                }
            }
        }
        //section map
        &-map{
            position: relative;
            .contact-detail{
                position: relative;
                padding: 1.5rem 0;
                z-index: 1;
                min-height: 0;
                top: 0;
                right: 0;
                background-color: var(--main-color);
                width: 100%;
                    .contact-address{
                        border-bottom: 1px solid var(--medium-color);
                        grid-template-columns: auto;
                        justify-content: center;
                        padding: 1rem;
                        .contact{
                            width: 100%;
                            text-align: center;
                            &-icon{
                                text-align:center;
                                i{
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
            } 
            .get-it{
                margin-top: -5px;
                background-color: var(--main-color);
                padding: 2rem;
                .get-it{
                    &-flex{
                        text-align: center;
                        grid-template-columns: auto;
                    }
                }
            }
        }
    }
    footer{
        .footer{
            &-social{
                width: 80%;
                margin:  0 auto;
                li{
                    margin: 1rem 0;
                }
            }
        }
    }
}

//small devices landscape phones

@media (min-width: 576px) and (max-width: 1024px){  
    .section{
        &-header{
            width: 80%;
        }
        &-heading{
            font-size: 3rem;
            line-height: 2.7rem;
        }
        &-para{
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    
    header{
        .header{
            &-content{
                padding: 1rem 0;
                grid-template-columns: auto;
                justify-content: center;
                text-align: center;
            }
            &-right-content{
                justify-content: center;
                align-items: center;
                li{
                    margin-right: 5rem;
                    margin-left: 1rem;
                    .header-text{
                        position: relative;
                        p{
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }
                        .header-icons{
                            font-size: 1.5rem;
                            padding: .8rem;
                        }
                    }
                }
            }
        }
    }
    nav{
        background-color: var(--main-color);
        .navbar{
            li{
                padding: .8rem;
                a{
                    font-size: 1rem;
                }
            }
        }
    }
    .section{
        //section-about
        &-about{
            padding: 2rem 0 4rem 0;
            .about-flex{
                grid-template-columns: auto;
                .what-we-do{
                    width: 100%;
                    padding-right: 0;
                    .do-heading{
                        font-size: 3rem;
                    }
                    .do-desc{
                        color: var(--medium-color);
                        font-size: 1.2rem;
                        line-height: 2rem;
                    }
                    .about-btn{
                        font-size: 1.5rem;
                        display: inline-block;
                        padding: 1.2rem 2rem;
                    }
                }
                .about-items{
                    margin: 1rem 0;
                    width: 100%;
                    .about-item{
                        margin-bottom: 1rem;
                        &-icon{
                            font-size: 3rem;
                        }
                        &-heading{
                            font-size: 1.5rem;
                            margin-bottom: 1rem;
                        }
                        &-desc{
                            color: var(--medium-color);
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
        }

        //section-activity
        &-activity{
            grid-template-columns: repeat(2, auto);
            grid-gap: 0;
            .activity-card{
                margin-bottom: 1rem;
                &-icon{
                    font-size: 2.5rem;
                    padding: 1rem;
                }
                .hand-icon{
                    padding: 0.99rem .8rem;
                }
                &-heading{
                    font-size: 1.3rem;
                }
                &-count{
                    font-size: 3rem;
                }
            }
        }
    
        //section skills
        &-skills{
            padding: 2rem 0;
            .skills{
                &-heading{
                    text-align: center;
                    color: var(--dark-color);
                    font-size: 2.5rem;
                }
                &-items{
                    grid-template-columns: auto;
                    .skills{
                        padding: 2rem 0;
                        width: 100%;
                        &-accordian{
                            margin: 2rem 0;
                        }
                    }
                }
            }
    
        }
    
        //secction service
        &-service{
            padding: 3rem 0;
            .service-cards{
                grid-template-columns: repeat(2, auto);
                .service-card{   
                    &-icon{
                        font-size: 3rem;
                        padding: 1.6rem;
                    }
                    &-heading{
                        font-size: 1.5rem;
                    }
                    &-desc{
                        color: var(--medium-color);
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                }
            }
        }
        //section video
        &-video{
            margin: 2rem 0;
        }
        
        //sectionn work
        &-work{
            .work-nav{
                li{
                    a{
                        font-size: 1rem;
                    }
                }
            }
            .work-images{
                grid-template-columns: repeat(2, auto);
                .work-image{
                    height: 300px;
                    .work-caption{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 1;
                        text-align: center;
                        transform: translate(-50%, -50%);
                        color: var(--white-color);
                    }
                }
            }
        }
    
        //section team
        &-team{
            .team-cards{
                grid-template-columns: repeat(2, auto);
                align-items: center;
                .team-card{
                    margin-bottom: 2rem;
                    .team-caption{
                        h4{
                            font-size: 1.5rem;
                        }
                        p{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    
        //section pricing
        &-pricing{
            .pricing-cards{
                grid-template-columns: repeat(2, auto);
                .pricing-card{
                    margin-bottom: 1rem;
                    &-heading{
                        font-size: 2rem;
                        margin: 1rem 0;
                    }
                    &-amount{
                        font-size: 3rem;
                    }
                    &-options{
                        li{
                            font-size: 1.3rem;
                        }
                    }
                    .main-btn{
                        display: inline-block;
                        margin: 1rem 0;
                        font-size: 1.2rem;
                        padding: 1rem 1.5rem;
                    }
                }
            }
        }
    
        //section news
        &-news{
            .news-cards{
                grid-template-columns: auto;
                .news-card{
                    width: 70%;
                    margin: 1rem auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                    &-heading{
                        font-size: 2rem;
                    }
                    &-highlited{
                        grid-template-columns: repeat(3, auto);
                        li{
                            padding:0 1rem;
                            line-height: 1.5rem;
                            margin: 1.6rem 0;
                            font-size: 1.5rem;
                        }
                    }
                    &-desc{
                        line-height: 2rem;
                        font-size: 1.4rem;
                    }
                    .main-btn{
                        cursor: pointer;
                        display: inline-block;
                        margin: 1rem 0;
                        font-size: 1.5rem;
                        padding: 1rem 2rem;
                    }
                }
            }
        }
    
        //section logo
        &-logos{
            .logos-items{
                grid-template-columns: repeat(2, auto);
                grid-gap: .5rem;
                justify-content: center;
                .logo-item{
                    height: 120px;
                    margin:1rem auto;
                    text-align: center;
                }
            }
        }
    
        //section sign up
        &-signup{
            min-height: 450px;
            .signup-flex{
                grid-template-columns: auto;
                .signup{
                    width: 100%;
                    &-text{
                        text-align: center;
                        padding: 5rem 0;
                        &-heading{
                            font-size: 2.8rem;
                            line-height: 2.6rem;
                        }
                        &-desc{
                            font-size: 1.5rem;
                            line-height: 4rem;
                        }
                    }
                    &-mail{
                        input[type=email]{
                            height: 40px;
                            width: 80%;
                            margin: 0 auto ;
                            padding-left: 0;
                            margin-top: 8%;
                        }
                        button{
                            width: 8%;
                            i{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
        //section touch
        &-touch{
            padding: 2rem 0;
            .touch-form{
                width: 90%;
                margin:  0 auto;
                .section{
                    &-1-form{
                        grid-template-columns: auto;
                        margin: 1rem 0;
                        input[type=text], input[type=email]{
                            width: 100%;
                            border: 1px solid var(--dark-color);
                            padding: 1.5rem .5rem;
                            font-size: 1.5rem;
                        }
                    }
                    &-2-form{
                        textarea{
                            width: 100%;
                            border: 1px solid var(--dark-color);
                            padding: 1rem .5rem;
                            font-size: 2rem;
                        }
                    }
                    &-3-form{
                        text-align: center;
                        .main-btn{
                            font-size: 2rem;
                            padding: 1rem 2rem;
                        }
                    }
                }
            }
        }
        //section map
        &-map{
           .contact-detail{
               position: relative;
               min-height: 0;
               top: 0;
                right: 0;
                width: 100%;
                .contact-address{
                    padding: 1rem;
                    .contact{
                        text-align: left;
                        &-icon{
                            text-align:center;
                            i{
                                font-size: 2.5rem;
                                padding: 1.5rem;
                                text-align: center;
                                border-radius: 50%;
                            }
                            .map-icon{
                                padding: 1.5rem 2rem;
                            }
                        }
                        &-heading{
                            font-size: 2rem;
                            margin: 1rem 0;
                            color: var(--dark-color);
                        }
                        &-desc{
                            color: var(--white-color);
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }
                    }
                }
           } 
           .get-it{
                .get-it{
                    &-text{
                        font-size: 1.5rem;
                    }
                }
                .main-btn{
                    font-size: 1.5rem;
                }
           }
        }
    }
    footer{
        .footer{
            &-social{
                // @extend %flex-property;
                justify-content: center;
                width: 80%;
                margin: 0 auto;
                li{
                    margin: 1rem;
                }
            }
            &-desc{
                color: var(--white-color);
                font-size: 1.3rem;
            }
        }
    }
}
