@import 'config';
@import 'utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}

input{
    padding: 12px;
    background: transparent;
}

#header{
    #brand{
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr auto;
        padding-top: 2rem;
        padding-bottom: 2rem;

        h2{
            &:before{
                content: '\f0f8';
                color: var(--color-light);
                @extend %font-icon;
                display: inline-block;
                text-align: center;
                padding: 0.5rem;
                margin-right: 0.5rem;
                background-color: var(--color-main);
            }
        }

        ul{
            grid-template-columns: 1fr 1fr;
        }

        li{
           padding-right: 2rem;
           padding-left: 2rem;
           position: relative;
           display: flex;
           align-items: center;
           justify-content: center;
           
           &:before{
               content: '';
               cursor: pointer;
               
           }

           &:nth-child(1){
              &:before{
              content: '\f0e0';
              @extend %font-icon;
              height: 40px;
              width: 40px;
              text-align: center;
              line-height: 40px;
              border-radius: 50%;
              border: 1px solid var(--color-main);
              margin-right: 1.5rem;
              
            }
           }

           &:nth-child(2){
               &:before{
              content: '\f0f8';
              @extend %font-icon;
              height: 40px;
              width: 40px;
              text-align: center;
              line-height: 40px;
              border-radius: 50%;
              border: 1px solid var(--color-main);
              margin-right: 1.5rem;
            }
           }

        }
    }

    #links{
        justify-content: end;
        align-items: center;
        background:var(--color-main);
        padding-top: 1rem;
        padding-bottom: 1rem;
        ul{
            grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
            justify-content: flex-end;
            li{
                padding: 0.3rem 1rem;
                color: var(--color-light);
                cursor: pointer;

                transition: color,transform 1s ease-in-out;

                &:hover{
                    color: var(--color-dark);
                    transform: translateY(-0.3rem);
                }
            }
        }
    }
}

#slides{

.container-fluid {
  height: 78vh;
  position: relative;

    .slide {
        display: none;
        width: 100%;
        height: 78vh;
        position: relative;

        .btn-main{
            margin-right: 2rem;
        }
        p{
            margin: 0 auto;
        }
    }

    .arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;

        &:hover{
            background-color: rgba(0,0,0,0.8);
        }

        &:last-child{
        right: 0;
        border-radius: 3px 0 0 3px;

        &:hover{
            background-color: rgba(0,0,0,0.8);
        }
    }
    }

    

    .content {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
}

#about{
    .container{ 
        &>.grid{
        grid-column-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);}
        & > .lead{
        margin-bottom: 4rem;
        }
    }


    .stacks{
        grid-column-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
      .card{
       h3{
        text-transform: uppercase;
        font-size: 1.3rem;
        &:before{
            @extend %font-icon;
            margin-bottom: 0.5rem;
            font-size: 2rem;
        }
       }
          margin-bottom: 1rem;

          &:nth-child(1){
              h3{
                  &:before{
                      content: '\f108';
                  }
              }
          }
          &:nth-child(2){
              h3{
                  &:before{
                      content: '\f201';
                  }
              }
          }
          &:nth-child(3){
              h3{
                  &:before{
                      content: '\f135';
                  }
              }
          }
          &:nth-child(4){
              h3{
                  &:before{
                      content: '\f1d8';
                  }
              }
          }
      }
    }
    
}

#stats{
    .container-fluid{
        grid-template-columns: repeat(4,1fr);
        .card{
            padding:5rem 0rem;
            justify-content: center;
            align-items: center;  
           grid-template-columns: auto 1fr;
            
            &:before{
                    @extend %font-icon;
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    line-height: 50px;
                    margin-right: 1.5rem;
                    border-radius: 50%;
                    border: 1px solid var(--color-main)
            }
            
            &:nth-child(odd){
                background-color: #fafafa;

            }

            &:nth-child(even){
                background-color: #dbdbdb;
            }

            &:nth-child(1){
                 &:before{
                    content: '\f0f8';
                }
            }
            &:nth-child(2){
                 &:before{
                    content: '\f2b5';
                }
            }
            &:nth-child(3){
                 &:before{
                    content: '\f0e0';
                }
            }
            &:nth-child(4){
                 &:before{
                    content: '\f0f8';
                }
            }
        }
    }
}

#skills{

    .grid{
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
    }
    .collapsibles{
        .collapsible {
            background-color: var(--color-light);
            color: var(--color-dark);
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 1.3rem;
            border: 1px solid var(--color-main);
            border-bottom: none;
            transition: all 1s ease-in-out;

            &:hover{
               background: var(--color-main);
               color: var(--color-light);

               &:after{
                   color:var(--color-light)
               }
            }

            &:after{
                content: '\002B';
                color: var(--color-dark);
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }
        }

        .active{
            background-color: var(--color-main);
            color: var(--color-light);
             
            &:after{
                content: "\2212";
                color: var(--color-light);
            }
        }

        .content {
            padding: 0 2rem;
            max-height: 0;
            overflow: hidden;
            font-size: 1rem;
            border: 1px solid var(--color-main);
            margin-bottom: 1rem;
            transition: max-height 0.2s ease-out;
            background-color: var(--color-medium);
        }
    }

    .progress{
        flex:0 1 calc((100% / 2) - 1rem);
         
    
    .progressbar{
        #progressbar {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            background-color: var(--color-medium);
            border-radius: 4px;
            border: 1px solid gray;

            & >div {
                @include backgroundfill;
                background-color: var(--color-main);
                height: 20px;
                border-radius: 4px;   
            }

        }

        ul{
            li{
                font-size: 0.9rem;
                &:last-child{
                    color: var(--color-main);
                    text-align: right;
                }
            }
        }


        &:nth-child(odd){
            #progressbar{
                &>div{
                    width: 75%;
                }
            }
            }

            &:nth-child(even){
                #progressbar{
                &>div{
                    width: 55%;
                }
            }
            }
      }
    }
  
}

#service{
     .grid{
         overflow: hidden;
         grid-template-columns: repeat(4,1fr);
         grid-column-gap: 2rem;
         .card{
             text-align: center;
             padding: 2rem;
             margin-bottom: 2rem;
             border: 1px solid lightgray;
             transition: all 1s ease-in-out;

             h2{
                font-size: 1.1rem;
                &:before{
                @extend %font-icon;
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                border: 1px solid var(--color-main);
                margin: 1rem auto;
                }
            }
            
            &:hover{
                background-color: var(--color-main);
                color: var(--color-light);
                cursor: pointer;

                h2{
                    &:before{
                        background-color: var(--color-light);
                    }
                }
            }

             &:nth-child(1){
                h2{
                &:before{
                   content: '\f108';
                }
                }
             }
             &:nth-child(2){
                h2{
                &:before{
                   content: '\f302';
                }
                }
             }
             &:nth-child(3){
                h2{
                &:before{
                   content: '\f109';
                }
                }
             }
             &:nth-child(4){
                h2{
                &:before{
                   content: '\f013';
                }
                }
             }
             &:nth-child(5){
                h2{
                &:before{
                   content: '\f085';
                }
                }
             }
             &:nth-child(6){
                h2{
                &:before{
                   content: '\f07a';
                }
                }
             }
             &:nth-child(7){
                h2{
                &:before{
                   content: '\f0eb';
                }
                }
             }
             &:nth-child(8){
                h2{
                &:before{
                   content: '\f0a1';
                }
                }
             }
         }
     }
}

#video{
    position: relative;
    height: 40vh;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &:after{
       content: '';
       position: absolute;
       z-index: -1;
       background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSA3FBH5EDFMeBkTGsb_TEftG-yfu_SWKlHHa4XDvir-PoLJWn6&usqp=CAU') fixed center/cover;
       left: 0;
       top: 0;
       bottom: 0;
       right: 0;
    }

    h3{
        &:before{
            content: '\f144';
            @extend %font-icon;
            font-size: 6rem;
            color: var(--color-light);
            margin: 0 auto;
            margin-bottom: 1.3rem;
        }
    }
}

#work{
    .container{
        .lead{
            margin-bottom: 3rem;
        }
        ul{
            justify-content: center;
            grid-template-columns: 150px 150px 150px 150px 150px;
                li{
                    text-align: center;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    transition: color 1s ease-in-out;

                    &:hover{
                        color: var(--color-main);
                        cursor: pointer;
                    }
                }
        }
        
        .cards{
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 2rem;
            .card{
                overflow: hidden;
                
                margin-bottom: 2rem;
                cursor: pointer;
                position: relative;
                transition: all 1s ease-in-out;
                &:after{
                transition: all 1s ease-in-out;}

                &:hover{
                    img{
                        @include zoomin;
                    }
                     &:after{
                       content: '\f0f8 \A \A PROJECT TITLE';
                       @extend %font-icon;
                       white-space: pre;
                       text-align: center;
                       position: absolute;
                       top: 0;
                       left: 0;
                       bottom: 0;
                       right: 0;
                       background-color: rgba($color: #3579ba, $alpha: 0.5);
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       color: var(--color-light);
                       z-index: 2;
                     }    
                }
            }
        }

        
    }
}

#team{

    .lead{
        margin-bottom: 3rem;
    }


    .cards{
        justify-content: space-between;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        .card{
            margin-bottom: 1rem;
            text-align: center;

            .image{

            
            overflow: hidden;
            cursor: pointer;
            position: relative;
            transition: all 1s ease-in-out;
             
            .social{
                position: absolute;
                z-index: 3;
                display: none;
                color: var(--color-light);
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                justify-content: center;
                align-items: center;

                i{
                    border-radius: 50%;
                    padding: 0.5rem;
                    margin: 0 0.5rem;
                    border: 1px solid var(--color-light);
                    transition: all 1s ease-in-out;
                    
                    &:hover{
                        background: var(--color-main);
                        cursor: pointer;
                    }
                    
                }
            }

             &:hover{
                  img{
                        @include zoomin;
                    }
                 .social{
                     display: flex;
                 }
                     &:after{
                       content: '';
                       position: absolute;
                       top: 0;
                       left: 0;
                       bottom: 0;
                       right: 0;
                       background-color: rgba($color: #3579ba, $alpha: 0.5);
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       color: var(--color-light);
                       z-index: 2;

            transition: all 1s ease-in-out;
                     }    
                }
            }
        }
    }
    
}

#testimonials{
.container-fluid {
  height: 80vh;
  position: relative;

    .review {
        display: none;
        width: 100%;
        height: 80vh;
        position: relative;

        .btn-main{
            margin-right: 2rem;
        }
    }
   

    .content {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 80vh;

        p{
            margin: auto;
        }

        .name{
            &:before{
                content: '\f0f8';
                @extend %font-icon;
                color: var(--color-light);
                display: block;
                height: 80px;
                width: 80px;
                line-height: 80px;
                border: 2px solid var(--color-light);
                margin: 1rem auto;
                border-radius: 50%;
            }
        }

        .dot {
        cursor: pointer;
        height: 3px;
        width: 30px;
        margin: 0 2px;
        background-color: #fff;
        display: inline-block;
        transition: background-color 0.6s ease;

        &:hover{
        background-color: #717171;
        }
    }
    .active {
        background-color: #717171;
    }
    }

    

    
}
}

#pricing{
     .lead{
        margin-bottom: 3rem;
    }

    .cards{
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 2rem;
        justify-content: space-between;
        .card{
            margin-bottom: 2rem;
            text-align: center;
            border: 2px solid lightgray;
            transition: all 1s ease-in-out;

            &:hover{
                cursor: pointer;
                background: var(--color-main);
                color: var(--color-light);

                .btn-main{
                  background-color: var(--color-dark);
                }

                .color-main{
                    color: var(--color-light);
                }
            }
        }
    }
    

}

#news{
     .lead{
        margin-bottom: 3rem;
    }

    .cards{
        justify-content: space-between;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 2rem;
        .card{
            margin-bottom: 2rem;
            text-align: center;

            p:first-child{
                font-size: 1.2rem;
            }

            .btn-dark{
                &:hover{
                    background: var(--color-main);
                    border-color: var(--color-main);
                }
            }
            
        }
    } 

    .partners{
        justify-content: space-between;
        grid-template-columns: repeat(5,1fr);
        grid-column-gap: 2rem;
        .card{
        margin-bottom: 2rem;
        border: 2px solid lightgray;
        padding: 2rem;
        }
    }

}

#newsletter{
       .container-fluid{
        grid-template-columns: repeat(2,1fr);}
    .card{
        align-items: center;

        &:first-child{
            background: var(--color-main);
            padding-left: 6rem;
            padding-right: 2rem;

            p{
                text-align: left;
                &:first-child{
                    font-size: 1.3rem;
                }
            }
        }
        &:last-child{
            justify-content: center;
            background: url('../assets/images/images.jpeg') fixed center/cover;
           
            input{
                border: 1px solid var(--color-light);

                &::placeholder{
                    color: var(--color-light);
                }
            }

            button{
                background: var(--color-main);
                color: var(--color-light);
                padding: 12px;
                border: 1px solid var(--color-light);
                border-left: 0;
            }
            
        }
    }
}

#get-in-touch{
    .lead{
        margin-bottom: 4rem;
    }
    .form{
        .grid{
            justify-content: space-between;
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 2rem;
            input{
                width: 100%;
                margin-bottom: 2rem;
                border: 1px solid lightgray;
            }
        }
        textarea{
            width: 100%;
            border: 1px solid lightgray;
            padding: 12px;
            margin-bottom: 2rem;
        }
        text-align: center;
    }
}

#map{
    .container-fluid{
    background: url('../assets/images/map.png') center center/cover;
    height: 60vh;
    }

    .container{
        .card{
            background: var(--color-main);
            width: 400px;
            height: 60vh;
            padding: 2rem;
            justify-content: space-evenly;
            flex-direction: column;
            border-bottom: 2px solid skyblue;

            li{
                position: relative;
                
                margin-left: 7rem;
                p{
                    padding: 0.6rem 0;
                }
                


                .text{
                    &:before{
                    position: absolute;
                    @extend %font-icon;
                    color: var(--color-light);
                    border: 2px solid var(--color-light);
                    padding: 1rem;
                    border-radius: 50%;
                    height: 25px;
                    width: 25px;
                    font-size: 1.5rem;
                    line-height: 25px;
                    text-align: center;
                    left: -90px;
                    top: 10%;
                    }

                }

                &:nth-child(1){
                
                    .text{
                        &:before{
                            content: '\f2bb';
                        }
                    }
                
            }

            &:nth-child(2){
                
                    .text{
                        &:before{
                            content: '\f0f8';
                        }
                    }
                
            }

            &:nth-child(3){
                
                    .text{
                        &:before{
                            content: '\f0e0';
                        }
                    }
                
            }
            }

            
        }
    }
}

#footer{
    #brand{
        background: var(--color-main);
        color: var(--color-light);

        .container{
            justify-content: space-between;
            align-items: center;
            grid-template-columns: 1fr auto;
        }
    }
    #social{
        background: var(--color-dark);
        color: var(--color-light);

        .container{
        justify-content: center;
        align-items: center;
         .grid{
             grid-template-columns: auto auto auto auto;

             &:last-child{
                 justify-content: space-between;
             }
         }
        }

        .fab{
            padding: 0 1rem;
        }
        .copyright{
            p{
                &:first-child{
                    margin-right: 1rem;
                }
            }
        }
    }
}





@import 'media';