@media (max-width: 575.98px) { 
    .text-3{
        font-size: 2rem;
    }
    #header{
        #brand{
            ul{
                grid-template-columns: repeat(1,1fr);
                li{
                    margin-bottom: 0.8rem;
                }
            }
        }
    }


    #slides{
        .container-fluid{
            .slide{
                .btn-main{
                    margin-right: 0.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    #testimonials{
        .my-2{
            margin: 0.4rem 0;
        }
        .container-fluid{
            .content{
                .name{
                    &:before{
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .container{
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }

    
    
    #stats{
        .container-fluid{
            grid-template-columns: repeat(1,1fr);
        }
        
    }
    #work {
        .container{
            .cards{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }
    #about{
        .container{
            .grid{
                grid-template-columns: repeat(1,1fr);
            }
        }
        .what-we-do{
           margin-bottom: 4rem;
           text-align: center;
        }
        .stacks{
            .card{
                text-align: center;
            }
        }
    }
    #service{
        .grid {
            grid-template-columns: repeat(1,1fr);
        }
    }

    #team{
        .cards{
            grid-template-columns: repeat(1,1fr);

        }
    }

    #pricing{
        .cards{
            grid-template-columns: repeat(1,1fr);
            .card{
                margin-bottom: 2rem;
            }
        }
    }

    #news{
        .cards{
            grid-template-columns: repeat(1,1fr);
        }
        .partners{
            grid-template-columns: repeat(1,1fr);
            .card{
                margin-bottom: 2rem;
            }
        }
    }

    #footer{
        text-align: center;

        #brand{
            .container{
                justify-content: center;
                P{
                    margin-bottom: 1rem;
                }
            }
        }

        .container{
            .copyright{
                text-align: center;
                justify-content: center;
            }
        }
    }

    #newsletter{
        .grid{
            grid-template-columns: repeat(1,1fr);
        }
        
    }

    #map{
        .container{
            .card{
                width: 100%;

                li{
                    margin-left: 5rem;
                   p{
                       padding: 0.4rem 0;
                   }
                }

                .text{
                    &:before{
                        height: 15px;
                        width: 15px;
                        font-size: 1rem;
                        padding: 12px;
                    }
                }
            }
        }
    }

    #get-in-touch{
        .form{
            .grid{
            grid-template-columns: repeat(1,1fr);
            
            }
        }
    }


    
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
     #header{
         #brand{
             grid-template-columns: repeat(1,1fr);
             flex-direction: column;
             padding: 1rem 0;
             h2{
                 margin-bottom: 1rem;
                 text-align: center;
             }
         }
         #links{
             ul{
                 justify-content: center;
             }
         }
     }
     #skills {
         .container{
         & >.grid{
            grid-template-columns: repeat(1,1fr);
         }
        .collapsibles{
          margin-bottom: 4rem;
        }
        }
        
    }

    #work {
        .container{
            .cards{
            grid-template-columns: repeat(2,1fr);
            }
        }
    }
 }

// Medium devices (tablets, less than 992px)
@media (min-width:576px) and (max-width: 991.98px) { 
    #about{
        .container{
            &>.grid{
                grid-template-columns: repeat(1,1fr);

            }
        }
        .what-we-do{  
           margin-bottom: 4rem;
           text-align: center;
        }
        .stacks{
            flex: 100%;
        }
    }
    #stats{
        .container-fluid{
            grid-template-columns: repeat(2,1fr);

            .card{

                &:nth-child(3){
                   background-color: #dbdbdb;
                }
                &:nth-child(4){
                   background-color: #fafafa;
                }
            }
        }
    }
    #service{
        .grid {
            grid-template-columns: repeat(2,1fr);

        }
    }

    #team{
        .cards{
            grid-template-columns: repeat(2,1fr);
            
        }
    }

    #pricing{
        .cards{
         grid-template-columns: repeat(2,1fr);
            .card{
                margin-bottom: 2rem;
            }
        }
    }

    #news{
        .cards{
         grid-template-columns: repeat(2,1fr);
            .card{
                margin-bottom: 2rem;
            }
        }
        .partners{
             grid-template-columns: repeat(3,1fr);
            .card{
                margin-bottom: 2rem;
            }
        }
    }
 }
