@keyframes increase {
  from {
    width: 0; }
  to {
    width: 80%; } }

@keyframes diagonally-in {
  from {
    width: 0;
    height: 0;
    color: transparent; }
  to {
    width: 100;
    height: 100;
    color: #fff; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.btn-light {
  color: #fff;
  background-color: #337ab8;
  padding: 1rem;
  font-weight: 700; }
  .btn-light:hover {
    background-color: #fff;
    color: #337ab8;
    border: 2px solid #337ab8;
    transition: all 1s ease; }

.btn-dark {
  color: #337ab8;
  background-color: #fff;
  padding: 1rem;
  font-weight: 700; }
  .btn-dark:hover {
    background-color: #337ab8;
    color: #fff;
    transition: all 1s ease; }

.heading {
  font-size: 2.3rem;
  font-weight: 900;
  line-height: 1.2; }
  .heading span {
    color: #337ab8; }

.section-container {
  width: 80%;
  margin: auto; }

.container {
  max-width: 100vw;
  margin: auto; }

h2 {
  position: relative;
  text-align: center; }
  h2:before {
    content: "";
    background-color: #337ab8;
    width: 60px;
    height: 2px;
    position: absolute;
    top: 48px;
    left: 43%; }
  h2:after {
    content: "";
    background-color: #337ab8;
    width: 60px;
    height: 2px;
    position: absolute;
    top: 48px;
    left: 52%; }

#border-bottom {
  border: 2px solid #337ab8;
  border-radius: 50%;
  position: relative;
  width: 1px;
  left: 50%;
  top: -28px; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto; }
  header .header-left ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0; }
    header .header-left ul li {
      padding: 0.5rem; }
      header .header-left ul li:first-child .outer-s {
        width: 40px;
        height: 40px;
        background-color: #444;
        border: 2px solid #337ab8;
        display: flex;
        align-items: center;
        justify-content: center; }
        header .header-left ul li:first-child .outer-s .mid-s {
          height: 25px;
          width: 25px;
          background-color: #fff;
          transform: rotate(45deg);
          border: 2px solid #337ab8;
          display: flex;
          align-items: center;
          justify-content: center; }
          header .header-left ul li:first-child .outer-s .mid-s .inner-s {
            height: 15px;
            width: 15px;
            background-color: #444;
            border: 2px solid #337ab8;
            transform: rotate(-45deg); }
      header .header-left ul li:last-child h1 {
        margin: 0.3rem; }
  header .header-right {
    display: flex; }
    header .header-right > div {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      header .header-right > div i {
        color: #337ab8;
        border: 1px solid #337ab8;
        border-radius: 50%;
        padding: 0.7rem;
        font-size: 1.5rem; }
        header .header-right > div i:hover {
          background-color: #337ab8;
          color: #fff;
          border-color: #fff;
          transform: rotate(360deg);
          transition: all 1s ease; }
      header .header-right > div ul {
        padding: 0;
        margin: 0; }
        header .header-right > div ul li {
          padding: 0 1rem; }
          header .header-right > div ul li:first-child {
            font-size: 0.8rem;
            color: #bbbbbb; }
          header .header-right > div ul li:last-child {
            font-weight: 600; }

#res-nav {
  display: none;
  padding: 1rem 0; }
  #res-nav a {
    color: #fff;
    font-weight: 900; }
  #res-nav i {
    color: #fff;
    cursor: pointer; }

#nav-bar {
  background-color: #337ab8;
  text-align: center; }
  #nav-bar ul {
    display: flex;
    padding: 1rem 0;
    margin: auto;
    width: 80%;
    justify-content: flex-end; }
    #nav-bar ul li {
      padding: 0 1rem; }
      #nav-bar ul li:hover {
        transform: scale(1.2);
        transition: all 1s ease; }
      #nav-bar ul li a {
        color: #fff;
        font-weight: 700; }
        #nav-bar ul li a:hover {
          color: #444; }

.show-case {
  background: url("../Images/showcase.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem; }
  .show-case i {
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    margin: 0 1rem;
    padding: 0.5rem; }
  .show-case .text-area {
    width: 40%;
    color: #fff;
    text-align: center; }
    .show-case .text-area h3 {
      font-size: 2.3rem;
      font-weight: 700;
      text-shadow: 2px 2px 2px #bbbbbb; }
    .show-case .text-area p {
      color: #bbbbbb;
      padding: 2rem 1rem; }
    .show-case .text-area a {
      margin: 2rem 1rem; }
      .show-case .text-area a:last-child {
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff; }
        .show-case .text-area a:last-child:hover {
          background-color: #fff;
          transition: all 1s ease-in-out;
          color: #337ab8; }

.about-us {
  text-align: center; }
  .about-us p {
    width: 70%;
    margin: auto;
    color: #bbbbbb; }
  .about-us .content-area {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem; }
    .about-us .content-area section span,
    .about-us .content-area section a {
      display: block;
      margin: 1rem 0; }
    .about-us .content-area section span {
      color: #bbbbbb; }
    .about-us .content-area .box-wrapper {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 1rem; }
      .about-us .content-area .box-wrapper .box i {
        color: #337ab8; }

.img-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 1rem; }
  .img-cards .item {
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .img-cards .item i {
      color: #337ab8;
      padding: 0.8rem;
      border: 1px solid #337ab8;
      border-radius: 50%; }
      .img-cards .item i:hover {
        color: #fff;
        background-color: #337ab8;
        border-color: #fff;
        transform: rotate(360deg);
        transition: all 1s ease-out; }
    .img-cards .item ul li:first-child {
      font-weight: 800; }
    .img-cards .item ul li:last-child {
      font-size: 2rem;
      font-weight: 800;
      color: #337ab8;
      line-height: 1.2; }
    .img-cards .item:nth-child(odd) {
      background-color: #f0f0f0; }
    .img-cards .item:nth-child(even) {
      background-color: #e6e6e6; }

.skills h2 {
  text-align: center; }

.skills .skill-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; }
  .skills .skill-wrapper .acc {
    padding: 1rem; }
    .skills .skill-wrapper .acc > div h3 {
      text-align: center;
      border: 1px solid #444;
      color: #444;
      padding: 1rem;
      margin: 0.5rem 0; }
    .skills .skill-wrapper .acc > div p {
      padding: 1rem;
      color: #bbbbbb;
      background-color: #f0f0f0;
      margin: 0;
      display: none;
      border: 1px solid #337ab8; }
    .skills .skill-wrapper .acc > div:hover {
      cursor: pointer; }
      .skills .skill-wrapper .acc > div:hover h3 {
        color: #fff;
        background-color: #337ab8;
        transition: all 1s ease; }
      .skills .skill-wrapper .acc > div:hover p {
        display: block;
        transition: all 1s ease; }
  .skills .skill-wrapper .progress {
    padding: 1rem; }
    .skills .skill-wrapper .progress span {
      color: #bbbbbb;
      font-size: 0.9rem;
      font-weight: 600;
      margin: 2rem 0; }
    .skills .skill-wrapper .progress .progress-bar {
      height: 10px;
      background-color: #f0f0f0;
      width: 100%;
      margin: 1rem 0; }
      .skills .skill-wrapper .progress .progress-bar .blue {
        height: 100%;
        background-color: #337ab8;
        width: 80%;
        animation-name: increase;
        animation-duration: 3s; }
      .skills .skill-wrapper .progress .progress-bar:hover {
        transform: scale(1.1);
        transition: all 1s ease; }

.services p {
  width: 70%;
  margin: auto;
  color: #bbbbbb; }

.services .boxes {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem; }
  .services .boxes .box {
    text-align: center;
    padding: 1rem; }
    .services .boxes .box i {
      color: #337ab8;
      padding: 0.7rem;
      border: 1px solid #337ab8;
      border-radius: 50%; }
    .services .boxes .box:hover {
      background-color: #337ab8;
      color: #fff;
      transform: scale(1.1);
      transition: all 1s ease; }
      .services .boxes .box:hover i {
        border-color: #fff;
        background-color: #fff; }
      .services .boxes .box:hover p {
        color: #fff; }

.video {
  position: relative; }
  .video iframe {
    width: 100%; }
    .video iframe:hover {
      transform: scale(1.2);
      transition: all 1s ease;
      opacity: 0.7; }

.works p {
  width: 70%;
  text-align: center;
  margin: auto;
  color: #bbbbbb; }

.works .hamburger {
  width: 100%;
  padding: 1.2rem 1rem;
  display: none; }
  .works .hamburger h4 {
    font-size: 1.2rem;
    margin: 0 0.5rem; }

.works ul {
  display: flex;
  justify-content: center; }
  .works ul li {
    font-weight: 800;
    padding: 1rem 2rem; }
    .works ul li:hover {
      transform: scale(1.2);
      color: #444;
      cursor: pointer;
      transition: all 1s ease-out; }

.works .work-photos {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto; }
  .works .work-photos .photo {
    position: relative; }
    .works .work-photos .photo img {
      width: 100%;
      height: 100%; }
    .works .work-photos .photo .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      flex-direction: column;
      display: none; }
      .works .work-photos .photo .overlay i {
        color: #fff;
        padding: 0.6rem;
        border: 1px solid #fff;
        border-radius: 50%; }
    .works .work-photos .photo:hover {
      transform: scale(1.1);
      transition: all 1s ease-in; }
      .works .work-photos .photo:hover .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: diagonally-in;
        animation-duration: 1s;
        animation-timing-function: ease-in; }

.team {
  margin-top: 2rem; }
  .team p {
    width: 70%;
    margin: auto;
    color: #bbbbbb; }
  .team .team-pic {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    margin: 2rem 1rem; }
    .team .team-pic .pic-box {
      position: relative;
      text-align: center; }
      .team .team-pic .pic-box span {
        color: #bbbbbb; }
      .team .team-pic .pic-box .pic-div img {
        width: 100%;
        height: 300px; }
      .team .team-pic .pic-box .pic-div .pic-overlay {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 78%;
        display: none; }
        .team .team-pic .pic-box .pic-div .pic-overlay i {
          padding: 0.5rem; }
      .team .team-pic .pic-box .pic-div:hover .pic-overlay {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        animation-name: diagonally-in;
        animation-duration: 2s;
        animation-timing-function: ease-out; }

.quote {
  position: relative; }
  .quote img {
    width: 100%;
    height: 300px; }
  .quote .bg-over {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .quote .bg-over i {
      padding: 1rem;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 1rem 0; }
    .quote .bg-over .blue {
      color: #337ab8;
      font-size: 0.8rem;
      margin: 0.5rem 0; }
    .quote .bg-over p {
      width: 80%;
      margin: 0 auto;
      text-align: center; }

.price p {
  width: 70%;
  margin: 1rem auto;
  color: #bbbbbb; }

.price .p-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem; }
  .price .p-cards .card {
    border: 2px solid #f0f0f0; }
    .price .p-cards .card ul {
      text-align: center; }
      .price .p-cards .card ul li {
        padding: 0.6rem; }
        .price .p-cards .card ul li:nth-child(1) {
          font-weight: 800; }
        .price .p-cards .card ul li:nth-child(2) {
          font-weight: 800;
          color: #337ab8;
          font-size: 1.8rem; }
        .price .p-cards .card ul li:last-child {
          margin: 1rem 0; }
        .price .p-cards .card ul li a {
          margin: 1rem 0; }
    .price .p-cards .card:hover {
      background-color: #337ab8;
      color: #fff;
      transform: scale(1.1);
      transition: all 1s ease; }
      .price .p-cards .card:hover li:nth-child(2) {
        color: #fff; }
      .price .p-cards .card:hover a {
        border-color: #fff; }

.news {
  margin: 4rem auto; }
  .news p {
    width: 70%;
    margin: 1rem auto;
    color: #bbbbbb; }
  .news .news-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem; }
    .news .news-box .n-box {
      text-align: center; }
      .news .news-box .n-box img {
        width: 100%;
        height: 250px; }
      .news .news-box .n-box p {
        margin: 2rem auto; }
      .news .news-box .n-box span {
        color: #337ab8; }

.logos {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: fit-content;
  grid-gap: 2rem; }
  .logos img {
    width: 100%; }

.data-card {
  display: flex;
  margin: 2rem 0; }
  .data-card .lpart {
    text-align: center;
    padding: 1rem;
    background-color: #337ab8;
    width: 50%; }
    .data-card .lpart h4 {
      color: #fff;
      font-weight: 800; }
      .data-card .lpart h4 span {
        color: #444; }
    .data-card .lpart p {
      color: #fff; }
  .data-card .rpart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: url("../Images/background-balance-beach-boulder-289586.jpg") no-repeat center center/cover; }
    .data-card .rpart input {
      height: 25px;
      width: 60%;
      background-color: transparent;
      outline: none;
      padding: 0.5rem;
      border: 1px solid #fff; }
      .data-card .rpart input::placeholder {
        color: #fff; }
    .data-card .rpart i {
      color: #fff;
      font-size: 25px;
      padding: 0.5rem;
      border: 1px solid #fff;
      background-color: #337ab8; }

.get-in-touch p {
  width: 70%;
  margin: 1rem auto;
  color: #bbbbbb;
  text-align: center; }

.get-in-touch form {
  text-align: center; }
  .get-in-touch form .inputs {
    width: 100%;
    display: grid;
    margin: 2rem 0;
    grid-row-gap: 2rem; }
    .get-in-touch form .inputs input {
      height: 30px;
      border: 2px solid #337ab8;
      border-radius: 25px;
      box-shadow: 6px 8px 4px #f0f0f0;
      outline: none;
      padding: 0 1rem; }
  .get-in-touch form textarea,
  .get-in-touch form button {
    display: block; }
  .get-in-touch form textarea {
    width: 90%;
    height: 300px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: 2px solid #337ab8;
    border-radius: 30px;
    box-shadow: 8px 8px 4px #f0f0f0;
    padding: 1rem;
    outline: none; }
  .get-in-touch form button {
    width: 40%;
    margin: 1rem auto;
    border-radius: 30px; }

.maps {
  background: url("../Images/1_FKQ_K-7FvbY8lSszR1DpHw.png");
  width: 100%; }
  .maps .table {
    background-color: #337ab8;
    width: fit-content;
    margin-left: 20%;
    padding: 1rem; }
    .maps .table .list {
      display: flex;
      justify-content: center;
      align-items: center; }
      .maps .table .list i {
        color: #fff;
        border: 1px solid #fff;
        padding: 1rem;
        border-radius: 50%; }
        .maps .table .list i:hover {
          background-color: #fff;
          color: #337ab8;
          border-color: #337ab8;
          transition: all 1s ease; }
      .maps .table .list ul {
        padding: 1rem; }
        .maps .table .list ul li:first-child {
          font-weight: 800;
          font-size: 0.9rem; }
        .maps .table .list ul li:last-child {
          color: #fff;
          font-size: 0.8rem;
          width: 175px;
          margin-right: 0; }

.promotion {
  background-color: #337ab8;
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
  align-items: center; }
  .promotion p {
    color: #fff; }
  .promotion a:hover {
    border: 2px solid #fff; }

footer {
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 2rem; }
  footer ul {
    width: 70%;
    margin: auto;
    justify-content: center;
    display: flex; }
    footer ul li {
      padding: 1rem 1rem; }
  footer p {
    font-size: 0.7rem; }

@media (max-width: 1023px) {
  body {
    font-size: 80%; }
  header {
    width: 100%; }
    header h1 {
      margin: 0; }
  .container {
    max-width: 100vw; }
  .show-case {
    width: fit-content; }
    .show-case i {
      margin: 0; }
    .show-case .text-area a {
      display: block;
      width: 90%;
      margin: 1rem auto; }
  .about-us h2::before {
    left: 37%; }
  .about-us h2:after {
    left: 53%; }
  .about-us .content-area {
    grid-template-columns: auto; }
  .img-cards {
    grid-template-columns: auto auto; }
    .img-cards .item {
      border: 1px solid #337ab8; }
  .skills .skill-wrapper {
    grid-template-columns: auto; }
  .services h2:before {
    left: 39%; }
  .works h2::before {
    left: 38%; }
  .works .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .works .hamburger:hover {
      padding-bottom: 0; }
      .works .hamburger:hover + ul {
        display: block; }
  .works ul {
    display: none;
    text-align: center; }
  .works .work-photos {
    grid-template-columns: auto auto; }
  .team h2::before {
    left: 38%; }
  .team h2::after {
    left: 53%; }
  .price h2::before {
    left: 37%; }
  .price h2:after {
    left: 53%; }
  .price .p-cards {
    grid-template-columns: auto auto; }
  .news h2::before {
    left: 38%; }
  .get-in-touch h2::before {
    left: 38%; } }

@media (max-width: 600px) {
  body {
    font-size: 70%; }
  header {
    display: block;
    text-align: center; }
    header > div {
      margin: auto;
      width: fit-content; }
  #res-nav {
    display: block;
    width: fit-content;
    margin: auto;
    position: relative;
    background-color: #337ab8;
    width: 100%;
    text-align: center; }
    #res-nav:active {
      display: none; }
      #res-nav:active + div {
        display: block; }
        #res-nav:active + div ul {
          display: block;
          text-align: center; }
  #nav-bar {
    display: none;
    position: relative; }
  .show-case {
    padding: 0; }
  .about-us h2::before {
    left: 26%; }
  .about-us h2:after {
    left: 56%; }
  .img-cards {
    grid-template-columns: auto;
    border: none; }
  .services h2:before {
    top: 92px;
    left: 27%; }
  .services h2:after {
    top: 92px;
    left: 55%; }
  .services .boxes {
    grid-template-columns: auto; }
  .works h2::before {
    top: 92px;
    left: 27%; }
  .works h2::after {
    top: 92px;
    left: 54%; }
  .works .work-photos {
    grid-template-columns: auto; }
  .team h2:before {
    top: 92px;
    left: 27%; }
  .team h2:after {
    top: 92px;
    left: 55%; }
  .team .team-pic {
    grid-template-columns: auto; }
  .price h2::before {
    left: 26%; }
  .price h2:after {
    left: 56%; }
  .price .p-cards {
    grid-template-columns: auto; }
  .news {
    margin-bottom: 2rem; }
    .news h2:before {
      top: 92px;
      left: 27%; }
    .news h2:after {
      top: 92px;
      left: 55%; }
    .news .news-box {
      grid-template-columns: auto; }
  .logos {
    grid-template-columns: auto;
    grid-gap: 1rem; }
    .logos img {
      height: 100px; }
  .data-card {
    display: block; }
    .data-card .lpart,
    .data-card .rpart {
      width: 100%;
      height: 100px;
      margin: 0; }
    .data-card .lpart {
      padding: 1rem 0; }
  .get-in-touch h2:before {
    left: 27%; }
  .get-in-touch h2:after {
    left: 55%; }
  .get-in-touch form textarea {
    margin-left: 0; }
  .maps .table {
    width: 100%;
    margin: 0;
    padding: 0; }
  .promotion {
    display: block;
    text-align: center; }
    .promotion a {
      display: block;
      width: 70%;
      margin: 2rem auto; } }

@media (max-width: 320px) {
  body {
    font-size: 60%; }
  header .header-right {
    display: block; }
    header .header-right > div {
      margin: 0.5rem 0; }
      header .header-right > div i {
        font-size: 1rem; }
  .about-us h2:before {
    left: 21%; }
  .about-us .border-bottom {
    margin: 0; }
  .show-case {
    padding: 0; }
    .show-case .text-area h2 {
      font-size: 1.5rem; }
  .services h2:before {
    left: 24%; }
  .works h2::before {
    top: 92px;
    left: 24%; }
  .works h2::after {
    top: 92px;
    left: 54%; }
  .team h2::before {
    top: 92px;
    left: 24%; }
  .team h2::after {
    top: 92px;
    left: 54%; }
  .price h2::before {
    top: 92px;
    left: 24%; }
  .price h2::after {
    top: 92px;
    left: 54%; }
  .news h2::before {
    top: 92px;
    left: 24%; }
  .news h2::after {
    top: 92px;
    left: 54%; }
  .get-in-touch h2::before {
    left: 24%; }
  .get-in-touch h2::after {
    left: 54%; } }
