$green-color: #69d084;
$dark-color: #333;
$main-color: #fc2779;

body {
  box-sizing: border-box;
  background-color: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: rgb(78, 78, 78);
}

.container {
  padding: 15px;
}

.row-style {
  display: flex;
  justify-content: space-between;
}

h2,
h3,
h4 {
  color: $dark-color;
}

.text-right {
  text-align: right;
}

.section-order-info {
  h3 {
    display: inline;
    color: $dark-color;
  }

  & > div:nth-child(2) {
    margin: 1rem 0;
  }
}

.section-address {
  background-color: #fff;
  margin: 0.5rem 0;
  padding: 0.7rem;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);

  p {
    margin: 0.4rem 0;
    line-height: 1.5rem;
  }
}

.section-shipment {
  background-color: #fff;
  margin: 1rem 0;
  .desc {
    border-bottom: 1px solid rgb(214, 213, 213);
    padding: 0.7rem;
  }

  b {
    color: gray;
    margin: 0 0.2rem;
  }
  .shipment-container {
    h4 {
      color: $green-color;
    }
    padding: 0.7rem;

    ul {
      margin: 1rem;
      li {
        list-style: none;
        position: relative;
        width: 8px;
        background-color: rgb(216, 215, 215);

        span {
          display: none;
        }
        &:first-child {
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
        }

        &:last-child {
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
        }

        &:after {
          background-color: grey;
        }
        &:before {
          content: "";
          position: absolute;
          bottom: 8px;
          border-left: 1px solid $green-color;
          width: 0;
          height: 0;
          border-style: solid;
        }

        &:before {
          border-color: transparent transparent transparent rgb(216, 215, 215);
          border-width: 8px;
          left: 7px;
        }

        div {
          position: relative;
          width: 250px;
          padding: 0.6rem;

          b {
            margin-left: 0.8rem;
          }
        }
      }

      .active {
        background-color: $green-color;
        transition: all 1s;
        &:before {
          border-color: transparent transparent transparent $green-color;
          border-width: 8px;
          left: 7px;
          transition: all 1s;
        }

        span {
          display: block;
        }

        b {
          color: $dark-color;
        }
      }
    }
  }

  .items {
    .item-info {
      border-top: 1px solid rgb(214, 213, 213);
      border-bottom: 1px solid rgb(214, 213, 213);
      padding: 0.8rem;
    }

    .product-container {
      border-bottom: 1px solid #e9e7e7;
    }

    .product {
      margin-top: 1rem;
      padding: 0.5rem;
      border-bottom: 1px solid #e9e7e7;
      &-img {
        flex-basis: 25%;
        img {
          width: 100%;
        }
      }
      &-info {
        flex-basis: 75%;

        .qty {
          color: #969696;
        }
        .name {
          font-weight: bold;
          font-size: 1.1rem;
          line-height: 1.5rem;
          margin-bottom: 0.5rem;
        }

        .strike {
          color: #969696;
          text-decoration: line-through;
        }

        h3 {
          display: inline;
        }
      }
    }

    .rate {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
      span {
        font-size: 2rem;
        color: #c4c4c4;
        cursor: pointer;
        &:hover ~ span,
        &:hover {
          color: $main-color;
        }

        &:focus,
        &:focus ~ span {
          outline: none;
          color: $main-color;
        }
      }

      .label {
        font-size: 0.9rem;
        margin: 0 0.5rem;
        color: #969696;
      }
    }
  }
}

@keyframes progressBar {
  form {
  }
  to {
  }
}
